body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.name{
    color:goldenrod;
}
.hireButton{
    background-color:orangered;
    background-image: linear-gradient(45deg, blue, red);
    size: 50em;
    font-size:20px;
    padding:10px 20px;
    text-decoration:none;
    border-radius: 5px;
    color:white;

}
.pashapashi{
    width:40%;
    float: left;
    margin-left: 5%;
    
    padding:2%
}
.pashapashi img{
    width:90%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
    
}
section{
    height: 500px;
}
.downloadResume{
    background-color: blue;
    background-image: linear-gradient(black, yellow);
    color:white;
    font-size: 20px;
    padding:10px 20px;
    text-decoration:none;
    border-radius: 5px;
}
.middleBanner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.middlePashapashi{
    width: 40%;
    float:right;
    margin-right: 5%;
    
    padding:2%
}
.middlePashapashi img{
    width: 90%;
}
.bottombanner{
    margin-left: 0%;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;

}
.bottompashapashi{
    width: 35%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 40%;
    background-color: white;

}
#bottomleft{
    border-left: 7px solid;
    border-radius: 5%;
    border-image: linear-gradient( blue,red);
    border-image-slice: 1;

}
#bottomright{
    border-left: 7px solid;
    border-radius: 5%;
    border-image: linear-gradient( yellow,pink);
    border-image-slice: 1;

}
footer p{
    text-align: center;
}
